.pages{
  background-color: #4285f4;
  color: #fff;
}
.pages.warning{
  background-color: #ff8a80;
}
.menu{
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #ff5252;
}

.timer{
  font-size: 3.5rem;
  margin-bottom: 50px;
}
.timer::shadow .separator{
  margin: 0 10px;
  position: relative;
}
.timer::shadow .m.separator{
  top: -4px;
}
.timer::shadow .s.separator{
  top: -2px;
}
.timer::shadow .s.separator,
.timer::shadow .ms{
  font-size: 2rem;
}

.timesup{
  font-size: 4.5rem;
}

.buttons .reset[disabled]{
  background: transparent;
  color: inherit;
  opacity: .3;
}

@media screen and (min-width: 500px){
  .timer{
    font-size: 7.5rem;
  }
  .timer::shadow .m.separator{
    top: -9px;
  }
  .buttons{
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 700px){
  .timesup{
    font-size: 7.5rem;
  }
  .timer{
    font-size: 12.5rem;
  }
  .timer::shadow .m.separator{
    top: -16px;
  }
  .buttons{
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 900px){
  .timesup{
    font-size: 12rem;
  }
  .timer{
    font-size: 18.5rem;
  }
  .timer::shadow .m.separator{
    top: -23px;
  }
}

