.dialog {
  background-color: #fff;
  padding: 30px;
  min-width: 80%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin-bottom: 10px;
}
.title{
  margin: 0 0 10px 0;
  font-weight: normal;
  font-size: 1.5rem;
}
.button-wrap{
  text-align: right;
}
@media screen and (min-width: 500px){
  .dialog {
    min-width: initial;
    width: 400px;
  }
}

